# VolcEngine credentials
VOLC_ACCESSKEY=YOUR_ACCESSKEY
VOLC_SECRETKEY=YOUR_SECRETKEY

# TOS endpoint and region
TOS_ENDPOINT=tos-cn-beijing.volces.com
REGION=cn-beijing

# Optional environment variables
SECURITY_TOKEN=XXX # If you use AssumeRole Credential, you need to set this
TOS_BUCKET=XXX # If you want to use a specific bucket, you need to set this